header {
    background-color: black;
    height: 150px;
    border-bottom: 1px solid #CCCCCC;
}

.centralizadora {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

#principal {
    color: #CCCCCC;
    display: inline-block;
    margin-bottom: 30px;
    font-size: 20px;
}

header img {
    width: 100px;
    padding: 20px;
}

nav {
    position: absolute;
    top: 75px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 30px;
}

nav a{
    color: #CCCCCC;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {

    header {
        background-color: black;
        height: 150px;
        border-bottom: 1px solid #CCCCCC;
    }

    .centralizadora, .bg-principal, .conteudo {
        width: auto;
    }

    header img {
        width: 50px;
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    #principal {
        display: none;
    } 

    nav {
        position: static;
        padding: 16px;
    }
    
    nav li {
        display: inline;
        margin: auto 2px;
        text-align: center;
        border: 1px solid #CCCCCC;
        padding: 3px;
    }
    
    nav a{
        color: #CCCCCC;
        font-size: 16px;
        text-decoration: none;
    }
}



/*main*/
main img {
    width: 100%;
}

.bg-principal {
    position: absolute;
    font-size: 35px;
    top: 30%;
    margin: 50px ;
}
.bg-principal h2 {
    color: #FFFFFF;
    font-size: 65px;
    margin-bottom: 60px;
}

.bg-principal p {
    color: #CCCCCC;
    font-size: 20px;
    margin-bottom: 50px;
}

.bg-principal a {
    text-decoration: none;
    color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 10px 45px;
    font-size: 22px;
    transition: 1s background;
}

.bg-principal a:hover {
    background: #0084ff8f;
    transition: 1s background;
}

@media screen and (max-width: 1024px) {
    .bg-principal {
        position: absolute;
        font-size: 35px;
        top: 25%;
        margin: 0;
    }

    .bg-principal h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .bg-principal p {
        color: #CCCCCC;
        font-size: 20px;
        margin-bottom: 0;
    }

    .bg-principal a {
        text-decoration: none;
        color: #FFFFFF;
        border: 1px solid #CCCCCC;
        padding: 5px 30px;
        font-size: 16px;
        transition: 1s background;
    }
    
    .bg-principal a:hover {
        background: #0084ff8f;
        transition: 1s background;
    }
}

/*Listas*/
.conteudo {
    text-align: center;
}

.recomendacao {
    margin-top: 50px;
    font-size: 25px;

}

.conteudo li {
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 1em #CCCCCC;
    display: inline-block;
    margin: 50px 30px;
    height: 400px;
}

.conteudo li:hover {
    border: 1px solid #941212;
    color: #941212;
}

.conteudo img {
    width: 300px;
}

.card-titulo {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.card-descricao {
    font-size: 17px;
    margin-top: 10px;
}

/*footer*/
footer {
    text-align: center;
    background: #000000;
    color: #FFFFFF;
    padding: 40px 0;
    margin-top: 20px;

}
footer img {
    width: 50px;
}

footer p {
    margin-top: 15px;
    font-size: 16px;
}

@media screen and (max-width: 1024px) {

    footer {
        text-align: center;
        background: #000000;
        color: #FFFFFF;
        padding: 10px;
        margin-top: 0;
    }

    footer img {
        width: 20%;
    }
    
    footer p {
        font-size: 13px;
    } 
}

/*Página sobre*/
.sobre-principal {
    width: 940px;
    margin: 0 auto;
}

.sobre-titulo {
    font-size: 35px;
    margin: 30px 50px;
}

.sobre-texto {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}


.maps {
    text-align: center;
    font-size: 22px;
    margin-top: 35px 20px;
}

.maps h2 {
    background-color: #CCCCCC;
    padding: 15px;
    margin: 20px 20px;
}

@media screen and (max-width: 1024px) {

    .sobre-principal {
        width: 100%;
        margin: 0;
    }

    .sobre-texto {
        text-align: center;
        font-size: 18px;
        margin-bottom: 0;
        padding: 25px;
    }
    
    iframe {
        width: 300px;
        height: 200px;
    }
}


/*Contato*/
form {
    width: 940px;
    margin: 0 auto;
    padding: 20px 20px;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 15px;
}

.input-padrao {
    display: block;
    margin: 0 0 15px;
    width: 50%;
    padding: 10px 20px;
}

.enviar {
    width: 40%;
    padding: 15px 20px;
    background-color: #c71717;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 1s all;
}

.enviar:hover {
    background-color: #df0000;
    transform: scale(1.1);
    border-radius: 10px;
}

@media screen and (max-width: 1024px) {
    form {
        width: 80%;
        margin: auto;
        padding: 20px 20px;
    }
    
    form label, form legend {
        display: block;
        font-size: 20px;
        margin: 0 0 15px;
    }
    
    .input-padrao {
        display: block;
        margin: 0 0 15px;
        width: 80%;
        padding: 10px 20px;
    }
    
    .enviar {
        width: 100%;
        padding: 15px 20px;
        background-color: #c71717;
        color: white;
        font-size: 20px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: 1s all;
    }
}